numpy
pillow
pip
attrs
contrib
PyYAML
idna
multidict
propcache
setuptools
aiogram
typing_extensions
pydantic
aiofiles
magic-filter
certifi
aiohttp
yarl
aiosignal
frozenlist
aiohappyeyeballs
python-dateutil
matplotlib
jsonschema
six
greenlet
psycopg2-binary
pydantic_core
annotated-types
contourpy
fonttools
packaging
pyparsing
referencing
jsonschema-specifications
cycler
kiwisolver
SQLAlchemy